#
# PERIPHERAL
#
CONFIG_COMPONENT_DRIVER_PWM_ENABLED=y
CONFIG_COMPONENT_DRIVER_RSA_ENABLED=y
# end of PERIPHERAL

#
# LOG
#
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
# end of LOG

#
# SYSTEM
#
CONFIG_COMPILER_OPTIMIZE_LEVEL_O3=y
CONFIG_FREERTOS_HZ=1000

#
# NETWORK
#
CONFIG_LWIP_TCPIP_MBOX_SIZE=64
CONFIG_LWIP_TCP_MAXRTX=12
CONFIG_LWIP_TCP_SYNMAXRTX=6
CONFIG_LWIP_TCP_MSS=1460
CONFIG_LWIP_TCP_WND_DEFAULT=15
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=12
CONFIG_LWIP_TCP_RECVMBOX_SIZE=32
CONFIG_LWIP_UDP_RECVMBOX_SIZE=32

CONFIG_MBEDTLS_ENABLE_HARD_DRV=y
CONFIG_COMPONENT_CJSON_ENABLED=y


#
# WIFI
#
CONFIG_COMPONENT_WIFI_ENABLED=y
CONFIG_WIFI_MASCW_TX_BUF_NUM=14
CONFIG_WIFI_MASCW_RX_BUF_NUM=7
CONFIG_WPA_SUPPLICANT_CRYPTO_HARD_MD5=y
CONFIG_WPA_SUPPLICANT_CRYPTO_HARD_SHA1=y
CONFIG_WPA_SUPPLICANT_CRYPTO_HARD_AES_DECRYPT=y
CONFIG_WPA_SUPPLICANT_CRYPTO_HARD_AES_ENCRYPT=y

#
# HTTP
#
CONFIG_COMPONENT_HTTP_CLIENT_ENABLED=y
CONFIG_WM_HTTP_CLIENT_SECURE=y
CONFIG_WM_HTTP_CLIENT_AUTH_BASIC=y
CONFIG_WM_HTTP_CLIENT_AUTH_DIGEST=y
CONFIG_WM_HTTP_CLIENT_PROXY=y

#
# CLI
#
CONFIG_COMPONENT_CLI_ENABLED=y
CONFIG_CLI_LINE_SIZE=128
CONFIG_CLI_COMMANDS_SYSTEM=y
CONFIG_CLI_COMMANDS_WIFI=y
CONFIG_CLI_COMMANDS_LWIP=y
CONFIG_CLI_COMMANDS_HTTP=y
