#
# LWIP
#
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_ENABLE_NAPT=y
CONFIG_LWIP_ENABLE_DNS_SERVER=y
CONFIG_LWIP_DNS_SERVER_NAME="localhost"
CONFIG_LWIP_ENABLE_IPV6=y
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_IPV6_DHCP6=y
# end of LWIP

#
# CLI
#
CONFIG_COMPONENT_CLI_ENABLED=y
# end of CLI

#
# Net manager
#
CONFIG_COMPONENT_NET_MANAGER_ENABLED=y
# end of Net manager

#
# WiFi
#
CONFIG_COMPONENT_WIFI_ENABLED=y
CONFIG_WIFI_API_ENABLED=y
# end of WiFi
