#
# LWIP
#
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_ENABLE_NAPT=y
CONFIG_LWIP_ENABLE_DNS_SERVER=y
CONFIG_LWIP_DNS_SERVER_NAME="www.prov.softap"
CONFIG_LWIP_ENABLE_IPV6=n
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_IPV6_DHCP6=y
# end of LWIP

#
# CLI
#
CONFIG_COMPONENT_CLI_ENABLED=y
# end of CLI

#
# Net manager
#
CONFIG_COMPONENT_NET_MANAGER_ENABLED=y
# end of Net manager

#
# Wpa_supplicant
CONFIG_WPA_SUPPLICANT_ENABLE_AP=y
# end of Wpa_supplicant

#
# WiFi
#
CONFIG_COMPONENT_WIFI_ENABLED=y
CONFIG_WIFI_API_ENABLED=y
CONFIG_WIFI_ENABLE_AP_FEATURE=y
# end of WiFi


#
# libwebsockets
#
CONFIG_COMPONENT_WEBSOCKET_ENABLED=y
CONFIG_WEBSOCKET_SECURITY=y

CONFIG_DT_USE_C_STYLE_CONF=y

CONFIG_COMPONENT_NVS_ENABLED=y
