# PERIPHERAL
CONFIG_COMPONENT_DRIVER_TFT_LCD_ENABLED=y
CONFIG_COMPONENT_DRIVER_SDSPI_ENABLED=y
# SOC
CONFIG_BUILD_TYPE_W802=y
# NVS
CONFIG_COMPONENT_DRIVER_CRC_ENABLED=y
CONFIG_COMPONENT_DRIVER_RNG_ENABLED=y
CONFIG_COMPONENT_NVS_ENABLED=y

CONFIG_COMPONENT_DRIVER_TOUCH_PANEL_ENABLED=y
CONFIG_COMPONENT_XPT2046_DRIVER=y