
#
# LWIP
#
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_ENABLE_NAPT=y
CONFIG_LWIP_ENABLE_DNS_SERVER=y
CONFIG_LWIP_DNS_SERVER_NAME="localhost"
CONFIG_LWIP_ENABLE_IPV6=y
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_IPV6_DHCP6=y
# end of LWIP

#
# Atcmd
#
CONFIG_COMPONENT_WM_ATCMD_ENABLED=y
CONFIG_WM_ATCMD_WIFI_ENABLE=y
CONFIG_WM_ATCMD_SYS_ENABLE=y
CONFIG_WM_ATCMD_TCP_ENABLE=y
CONFIG_WM_ATCMD_MQTT_ENABLE=y
CONFIG_WM_ATCMD_HTTP_ENABLE=y
CONFIG_WM_ATCMD_BT_ENABLE=y
CONFIG_WM_ATCMD_WEBNET_ENABLE=n
CONFIG_WM_ATCMD_USAGE_ENABLE=y
CONFIG_WM_ATCMD_OTA_ENABLE=y
CONFIG_WM_ATCMD_FS_ENABLE=y
# end of Atcmd

#
# Http
#
CONFIG_COMPONENT_HTTP_CLIENT_ENABLED=y
CONFIG_WM_HTTP_CLIENT_PROXY=y
CONFIG_WM_HTTP_CLIENT_AUTH_BASIC=y
CONFIG_WM_HTTP_CLIENT_AUTH_DIGEST=y
CONFIG_WM_HTTP_CLIENT_SECURE=y
#end Http

#
# OTA
#
CONFIG_COMPONENT_OTA_ENABLED=y
CONFIG_COMPONENT_OTA_HTTP_ENABLED=y
# end of OTA

#
# CLI
#
CONFIG_COMPONENT_CLI_ENABLED=n
# end of CLI

#
# Wpa_supplicant
#
CONFIG_WPA_SUPPLICANT_ENABLE_AP=y
# end of Wpa_supplicant

#
# Bluetooth
#
CONFIG_COMPONENT_BT_ENABLED=y

CONFIG_BT_CENTRAL=y
CONFIG_BT_GATT_CLIENT=y
CONFIG_BT_GATT_DYNAMIC_DB=y
CONFIG_BT_ID_MAX=2
CONFIG_BT_MAX_CONN=2
CONFIG_BT_MAX_PAIRED=6
CONFIG_BT_SMP=y
#CONFIG_BT_PRIVACY=y
CONFIG_BT_SIGNING=y
CONFIG_BT_SMP_APP_PAIRING_ACCEPT=y
CONFIG_BT_FILTER_ACCEPT_LIST=y

CONFIG_BT_BUF_ACL_RX_SIZE=521
CONFIG_BT_ATT_PREPARE_COUNT=2
CONFIG_BT_L2CAP_TX_MTU=517
CONFIG_BT_L2CAP_DYNAMIC_CHANNEL=y
CONFIG_BT_BUF_ACL_TX_SIZE=521
CONFIG_BT_GATT_AUTO_UPDATE_MTU=y

CONFIG_BT_CTLR_DATA_LENGTH_MAX=251
CONFIG_BT_USER_DATA_LEN_UPDATE=y

CONFIG_BT_PERIPHERAL=y
CONFIG_BT_DIS=y
CONFIG_BT_WPS=y
CONFIG_BT_PERIPHERAL_PREF_TIMEOUT=300

CONFIG_BT_DEVICE_NAME="WM-AT"
CONFIG_BT_DEVICE_APPEARANCE=141
CONFIG_BT_DEVICE_NAME_DYNAMIC=y
CONFIG_BT_DEVICE_NAME_MAX=32

CONFIG_BT_KEYS_OVERWRITE_OLDEST=y
CONFIG_BT_SETTINGS=y
CONFIG_NVS_KV=y
CONFIG_SETTINGS=y
#compatibilite with old wifi_prov all tools
CONFIG_BT_GATT_ENFORCE_SUBSCRIPTION=n
CONFIG_BT_BUF_ACL_RX_COUNT=10

CONFIG_BT_SCAN_WITH_IDENTITY=y
#
# Compiler configuration
#
CONFIG_COMPILER_OPTIMIZE_LEVEL_OS=y
CONFIG_COMPILER_DEBUG_INFORMATION=y
# end of Compiler configuration

#
# Partition_Table
#
CONFIG_WM_PARTITION_TABLE_WITH_OTA=y
# end of Partition_Table

#
# Net manager
#
CONFIG_COMPONENT_NET_MANAGER_ENABLED=n
# end of Net manager

CONFIG_COMPONENT_CJSON_ENABLED=y
CONFIG_COMPONENT_WIFI_ENABLED=y
CONFIG_WIFI_ENABLE_AP_FEATURE=y
CONFIG_COMPONENT_MQTT_ENABLED=y
