<div class="property-item">
                                    <label>Device name:</label>
                                    <div class="input-wrapper">
                                        <input type="text" value="{{ data.dev_name|lower }}" readonly id="device_name">
                                    </div>
                                    <div class="copy" id="copyBtn" onclick="copyText()"><img src="/static/images/copy.png"
                                            alt=""></div>
                                </div>