                <div class="devices-panel">
                    <div class="devices-panel-header">
                        <h2>Devices</h2>
                        <form id="get_form" method="get" action="/wmdt/index" style="display: contents;">
                        <input type="hidden" id="dev_name" name="dev_name" value="Uart0" />
                        <div class="device-list">
                            {% if data.kconfig.uart and ("Uart0"|lower in data.exist_in_config or "Uart1"|lower in data.exist_in_config or "Uart2"|lower in data.exist_in_config or "Uart3"|lower in data.exist_in_config or "Uart4"|lower in data.exist_in_config or "Uart5"|lower in data.exist_in_config) %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>Uart</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="Uart">
                                    {% if "Uart0"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Uart0')"><div class="sub-item {% if data.dev_name == 'Uart0' %} active {% endif %}">Uart0</div></a>
                                    {% endif %}
                                    {% if "Uart1"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Uart1')"><div class="sub-item {% if data.dev_name == 'Uart1' %} active {% endif %}">Uart1</div></a>
                                    {% endif %}
                                    {% if "Uart2"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Uart2')"><div class="sub-item {% if data.dev_name == 'Uart2' %} active {% endif %}">Uart2</div></a>
                                    {% endif %}
                                    {% if "Uart3"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Uart3')"><div class="sub-item {% if data.dev_name == 'Uart3' %} active {% endif %}">Uart3</div></a>
                                    {% endif %}
                                    {% if "Uart4"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Uart4')"><div class="sub-item {% if data.dev_name == 'Uart4' %} active {% endif %}">Uart4</div></a>
                                    {% endif %}
                                    {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
                                      {% if "Uart5"|lower in data.exist_in_config %}
                                      <a href="#" onclick="changeInputValue('Uart5')"><div class="sub-item {% if data.dev_name == 'Uart5' %} active {% endif %}">Uart5</div></a>
                                      {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.timer and ("Timer0"|lower in data.exist_in_config or "Timer1"|lower in data.exist_in_config or "Timer2"|lower in data.exist_in_config or "Timer3"|lower in data.exist_in_config or "Timer4"|lower in data.exist_in_config or "Timer5"|lower in data.exist_in_config) %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>Timer</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="Timer">
                                    {% if "Timer0"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Timer0')"><div class="sub-item {% if data.dev_name == 'Timer0' %} active {% endif %}">Timer0</div></a>
                                    {% endif %}
                                    {% if "Timer1"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Timer1')"><div class="sub-item {% if data.dev_name == 'Timer1' %} active {% endif %}">Timer1</div></a>
                                    {% endif %}
                                    {% if "Timer2"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Timer2')"><div class="sub-item {% if data.dev_name == 'Timer2' %} active {% endif %}">Timer2</div></a>
                                    {% endif %}
                                    {% if "Timer3"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Timer3')"><div class="sub-item {% if data.dev_name == 'Timer3' %} active {% endif %}">Timer3</div></a>
                                    {% endif %}
                                    {% if "Timer4"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Timer4')"><div class="sub-item {% if data.dev_name == 'Timer4' %} active {% endif %}">Timer4</div></a>
                                    {% endif %}
                                    {% if "Timer5"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Timer5')"><div class="sub-item {% if data.dev_name == 'Timer5' %} active {% endif %}">Timer5</div></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if (data.kconfig.iflash and "iflash"|lower in data.exist_in_config) or (data.kconfig.eflash and ("flash_w25q"|lower in data.exist_in_config or "flash_gd25q"|lower in data.exist_in_config or "flash_xt25f"|lower in data.exist_in_config or "flash_th25q"|lower in data.exist_in_config)) %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>Flash</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="Flash">
                                    {% if data.kconfig.iflash %}
                                    {% if "iflash"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('iflash')"><div class="sub-item {% if data.dev_name == 'iflash' %} active {% endif %}">Internal_flash</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.eflash %}
                                    {% if "flash_w25q"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('External_flash_w25q')"><div class="sub-item {% if data.dev_name == 'External_flash_w25q' %} active {% endif %}">External_flash_w25q</div></a>
                                    {% endif %}
                                    {% if "flash_gd25q"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('External_flash_gd25q')"><div class="sub-item {% if data.dev_name == 'External_flash_gd25q' %} active {% endif %}">External_flash_gd25q</div></a>
                                    {% endif %}
                                    {% if "flash_xt25f"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('External_flash_xt25f')"><div class="sub-item {% if data.dev_name == 'External_flash_xt25f' %} active {% endif %}">External_flash_xt25f</div></a>
                                    {% endif %}
                                    {% if "flash_th25q"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('External_flash_th25q')"><div class="sub-item {% if data.dev_name == 'External_flash_th25q' %} active {% endif %}">External_flash_th25q</div></a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if (data.kconfig.crypto and "crypto"|lower in data.exist_in_config) or (data.kconfig.crc and "crc"|lower in data.exist_in_config) or (data.kconfig.hash and "hash"|lower in data.exist_in_config) or (data.kconfig.rng and "rng"|lower in data.exist_in_config) or (data.kconfig.rsa and "rsa"|lower in data.exist_in_config) %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>Crypto</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="Crypto">
                                    {% if data.kconfig.crypto %}
                                    {% if "crypto"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('CRYPTO')"><div class="sub-item {% if data.dev_name == 'CRYPTO' %} active {% endif %}">CRYPTO</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.crc %}
                                    {% if "crc"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('CRC')"><div class="sub-item {% if data.dev_name == 'CRC' %} active {% endif %}">CRC</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.hash %}
                                    {% if "hash"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('HASH')"><div class="sub-item {% if data.dev_name == 'HASH' %} active {% endif %}">HASH</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.rng %}
                                    {% if "rng"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('RNG')"><div class="sub-item {% if data.dev_name == 'RNG' %} active {% endif %}">RNG</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.rsa %}
                                    {% if "rsa"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('RSA')"><div class="sub-item {% if data.dev_name == 'RSA' %} active {% endif %}">RSA</div></a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if (data.kconfig.sdmmc and "sdmmc"|lower in data.exist_in_config) or (data.kconfig.sdspi and "sdspi"|lower in data.exist_in_config) or (data.kconfig.st7735 and "st7735_spi"|lower in data.exist_in_config) or (data.kconfig.nv3041a and "nv3041a_spi"|lower in data.exist_in_config) or (data.kconfig.gz035 and "gz035_spi"|lower in data.exist_in_config) or (data.kconfig.gc9a01 and "gc9a01_spi"|lower in data.exist_in_config) or (data.kconfig.sdio_slave and "sdio_slave"|lower in data.exist_in_config) %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>SDIO</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="SDIO">
                                    {% if data.kconfig.sdmmc %}
                                    {% if "sdmmc"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('SDMMC')"><div class="sub-item {% if data.dev_name == 'SDMMC' %} active {% endif %}">SDMMC</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.sdspi %}
                                    {% if "sdspi"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('SDSPI')"><div class="sub-item {% if data.dev_name == 'SDSPI' %} active {% endif %}">SDSPI</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.nv3041a %}
                                    {% if "nv3041a_spi"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('nv3041a_spi')"><div class="sub-item {% if data.dev_name == 'nv3041a_spi' %} active {% endif %}">NV3041A</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.st7735 %}
                                    {% if "st7735_spi"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('st7735_spi')"><div class="sub-item {% if data.dev_name == 'st7735_spi' %} active {% endif %}">ST7735</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.gz035 %}
                                    {% if "gz035_spi"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('gz035_spi')"><div class="sub-item {% if data.dev_name == 'gz035_spi' %} active {% endif %}">GZ035</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.gc9a01 %}
                                    {% if "gc9a01_spi"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('gc9a01_spi')"><div class="sub-item {% if data.dev_name == 'gc9a01_spi' %} active {% endif %}">GC9A01</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.sdio_slave %}
                                    {% if "sdio_slave"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('SDIO_Slave')"><div class="sub-item {% if data.dev_name == 'SDIO_Slave' %} active {% endif %}">SDIO_Slave</div></a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.i2c and ("i2c"|lower in data.exist_in_config or "eeprom0"|lower in data.exist_in_config or "eeprom1"|lower in data.exist_in_config) %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>I2C</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="I2C">
                                    {% if "i2c"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('I2C')"><div class="sub-item {% if data.dev_name == 'I2C' %} active {% endif %}">I2C</div></a>
                                    {% endif %}
                                    {% if "eeprom0"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('eeprom0')"><div class="sub-item {% if data.dev_name == 'eeprom0' %} active {% endif %}">eeprom0</div></a>
                                    {% endif %}
                                    {% if "eeprom1"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('eeprom1')"><div class="sub-item {% if data.dev_name == 'eeprom1' %} active {% endif %}">eeprom1</div></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if (data.kconfig.spim or data.kconfig.spim_soft) and ("spim"|lower in data.exist_in_config or "spim_soft"|lower in data.exist_in_config) %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>SPI Master</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="spim">
                                    {% if (data.kconfig.spim and "spim"|lower in data.exist_in_config) %}
                                    <a href="#" onclick="changeInputValue('spim')"><div class="sub-item {% if data.dev_name == 'spim' %} active {% endif %}">SPI_Master</div></a>
                                    {% endif %}
                                    {% if (data.kconfig.spim_soft and "spim_soft"|lower in data.exist_in_config) %}
                                    <a href="#" onclick="changeInputValue('spim_soft')"><div class="sub-item {% if data.dev_name == 'spim_soft' %} active {% endif %}">SPI_Master_Soft</div></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.spis and "spis"|lower in data.exist_in_config %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>SPI Slave</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="spis">
                                    {% if "spis"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('spis')"><div class="sub-item {% if data.dev_name == 'spis' %} active {% endif %}">SPI_Slave</div></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.hspi_slave and "hspi_slave"|lower in data.exist_in_config %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>HSPI Slave</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="HSPI_Slave">
                                    {% if "hspi_slave"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('HSPI_Slave')"><div class="sub-item {% if data.dev_name == 'HSPI_Slave' %} active {% endif %}">HSPI_Slave</div></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.touch_sensor and ("touch_sensor"|lower in data.exist_in_config or "touch_button"|lower in data.exist_in_config) %}
                            {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>Touch_Sensor</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="Touch_Sensor">
                                    {% if "touch_sensor"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Touch_Sensor')"><div class="sub-item {% if data.dev_name == 'Touch_Sensor' %} active {% endif %}">Touch_Sensor</div></a>
                                    {% endif %}
                                    {% if "touch_button"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('Touch_Button')"><div class="sub-item {% if data.dev_name == 'Touch_Button' %} active {% endif %}">Touch_Button</div></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}

                            {% if (data.kconfig.xpt2046 and "xpt2046"|lower in data.exist_in_config) or (data.kconfig.ft6336 and "ft6336"|lower in data.exist_in_config) %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>Touch_Panel</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="Touch_Panel">
                                    {% if data.kconfig.xpt2046 %}
                                    {% if "xpt2046"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('XPT2046')"><div class="sub-item {% if data.dev_name == 'XPT2046' %} active {% endif %}">XPT2046</div></a>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.kconfig.ft6336 %}
                                    {% if "ft6336"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('FT6336')"><div class="sub-item {% if data.dev_name == 'FT6336' %} active {% endif %}">FT6336</div></a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.seg_lcd and ("seg_lcd"|lower in data.exist_in_config) %}
                            {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>SEG_LCD</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="SEG_LCD">
                                    {% if "seg_lcd"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('SEG_LCD')"><div class="sub-item {% if data.dev_name == 'SEG_LCD' %} active {% endif %}">SEG_LCD</div></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}

                            {% if data.kconfig.pwm and "pwm"|lower in data.exist_in_config %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>PWM</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="PWM">
                                    <a href="#" onclick="changeInputValue('PWM')"><div class="sub-item {% if data.dev_name == 'PWM' %} active {% endif %}">PWM</div></a>
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.rtc and "rtc"|lower in data.exist_in_config %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>RTC</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="RTC">
                                    <a href="#" onclick="changeInputValue('RTC')"><div class="sub-item {% if data.dev_name == 'RTC' %} active {% endif %}">RTC</div></a>
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.pmu and "pmu"|lower in data.exist_in_config %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>PMU</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="PMU">
                                    <a href="#" onclick="changeInputValue('PMU')"><div class="sub-item {% if data.dev_name == 'PMU' %} active {% endif %}">PMU</div></a>
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.i2s and "i2s"|lower in data.exist_in_config %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>I2S</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="I2S">
                                    <a href="#" onclick="changeInputValue('I2S')">
                                        <div class="sub-item {% if data.dev_name == 'I2S' %} active {% endif %}">I2S</div>
                                    </a>
                                    {% if "es8374"|lower in data.exist_in_config %}
                                    <a href="#" onclick="changeInputValue('ES8374')">
                                        <div class="sub-item {% if data.dev_name == 'ES8374' %} active {% endif %}">ES8374</div>
                                     </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.adc and "adc"|lower in data.exist_in_config %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>ADC</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="ADC">
                                    <a href="#" onclick="changeInputValue('ADC')"><div class="sub-item {% if data.dev_name == 'ADC' %} active {% endif %}">ADC</div></a>
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.gpio and "gpio"|lower in data.exist_in_config %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>GPIO</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="GPIO">
                                    <a href="#" onclick="changeInputValue('GPIO')"><div class="sub-item {% if data.dev_name == 'GPIO' %} active {% endif %}">GPIO</div></a>
                                 </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.wdt and "wdt"|lower in data.exist_in_config %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>WDT</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="WDT">
                                    <a href="#" onclick="changeInputValue('WDT')"><div class="sub-item {% if data.dev_name == 'WDT' %} active {% endif %}">WDT</div></a>
                                </div>
                            </div>
                            {% endif %}

                            {% if data.kconfig.psram and "psram"|lower in data.exist_in_config %}
                            <div class="device-item ">
                                <div class="device-item-header">
                                    <span>PSRAM</span>
                                    <svg t="1746082702035" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" p-id="4939">
                                        <path
                                            d="M512 657.28l377.6-377.6a40.32 40.32 0 0 1 58.24 0 41.6 41.6 0 0 1 0 58.24l-406.4 406.4a40.32 40.32 0 0 1-58.24 0L76.16 337.92A40.32 40.32 0 0 1 64 308.48a39.04 39.04 0 0 1 12.16-28.8 41.6 41.6 0 0 1 58.24 0z"
                                            fill="#ffffff" p-id="4940"></path>
                                    </svg>
                                </div>
                                <div class="sub-items" id="PSRAM">
                                    <a href="#" onclick="changeInputValue('PSRAM')"><div class="sub-item {% if data.dev_name == 'PSRAM' %} active {% endif %}">PSRAM</div></a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        </form>
                    </div>
                </div>
