      <div class="card-header">
        <h5>Properties</h5>
        {% include 'device_name.html' %}
	    <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="speed_hz">speed:</label>
        <select class="col-sm-6" id="speed_hz" name="speed_hz">
          <option value="100000" {% if data.speed_hz == 100000 %} selected {% endif %}>100,000</option>
          <option value="400000" {% if data.speed_hz == 400000 %} selected {% endif %}>400,000</option>
        </select> &nbsp;HZ
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="size">size:</label>
        <input type="number" value="{{ data.size }}" class="col-sm-6" id="size" name="size">
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="i2c_addr">i2c address:</label>
        <input type="text" value="{{ data.i2c_addr }}" class="col-sm-6" id="i2c_addr" name="i2c_addr">
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="page_size">page size:</label>
        <input type="number" value="{{ data.page_size }}" class="col-sm-6" id="page_size" name="page_size">
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="addr_width">address width:</label>
        <input type="number" value="{{ data.addr_width }}" class="col-sm-6" id="addr_width" name="addr_width">
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="read_only">read only:</label>
        <input type="checkbox" class="col-sm-1 text-right" value="1" id="read_only" name="read_only" {% if data.read_only %} checked {% endif %}>
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="max_write_time_ms">max write time:</label>
        <input type="number" value="{{ data.max_write_time_ms }}" class="col-sm-6" id="max_write_time_ms" name="max_write_time_ms"> &nbsp;ms
        </div>
      </div>

      <div class="card-header">
        <h5>Pins</h5>
        <div class="row">
        <label class="col-sm-3 text-right" for="eeprompin">Write Protection:</label>
        <select class="col-sm-6" id="wppinnum" name="wppinnum" {% if not data.enable %} disabled {% endif %}>
          <option value="0" {% if data.wppinnum == 0 %} selected {% endif %}>PIN_0 (PA0)</option>
          <option value="1" {% if data.wppinnum == 1 %} selected {% endif %}>PIN_1 (PA1)</option>
        {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
          <option value="2" {% if data.wppinnum == 2 %} selected {% endif %}>PIN_2 (PA2)</option>
          <option value="3" {% if data.wppinnum == 3 %} selected {% endif %}>PIN_3 (PA3)</option>
        {% endif %}
          <option value="4" {% if data.wppinnum == 4 %} selected {% endif %}>PIN_4 (PA4)</option>
        {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
          <option value="5" {% if data.wppinnum == 5 %} selected {% endif %}>PIN_5 (PA5)</option>
          <option value="6" {% if data.wppinnum == 6 %} selected {% endif %}>PIN_6 (PA6)</option>
        {% endif %}
          <option value="7" {% if data.wppinnum == 7 %} selected {% endif %}>PIN_7 (PA7)</option>
        {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
          <option value="8" {% if data.wppinnum == 8 %} selected {% endif %}>PIN_8 (PA8)</option>
        {% endif %}
        {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
          <option value="9" {% if data.wppinnum == 9 %} selected {% endif %}>PIN_9 (PA9)</option>
          <option value="10" {% if data.wppinnum == 10 %} selected {% endif %}>PIN_10 (PA10)</option>
        {% endif %}
        {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
          <option value="11" {% if data.wppinnum == 11 %} selected {% endif %}>PIN_11 (PA11)</option>
        {% endif %}
        {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
          <option value="12" {% if data.wppinnum == 12 %} selected {% endif %}>PIN_12 (PA12)</option>
        {% endif %}
        {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
          <option value="13" {% if data.wppinnum == 13 %} selected {% endif %}>PIN_13 (PA13)</option>
        {% endif %}
        {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
          <option value="14" {% if data.wppinnum == 14 %} selected {% endif %}>PIN_14 (PA14)</option>
        {% endif %}
        {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
          <option value="15" {% if data.wppinnum == 15 %} selected {% endif %}>PIN_15 (PA15)</option>
        {% endif %}
          <option value="16" {% if data.wppinnum == 16 %} selected {% endif %}>PIN_16 (PB0)</option>
          <option value="17" {% if data.wppinnum == 17 %} selected {% endif %}>PIN_17 (PB1)</option>
          <option value="18" {% if data.wppinnum == 18 %} selected {% endif %}>PIN_18 (PB2)</option>
          <option value="19" {% if data.wppinnum == 19 %} selected {% endif %}>PIN_19 (PB3)</option>
          <option value="20" {% if data.wppinnum == 20 %} selected {% endif %}>PIN_20 (PB4)</option>
          <option value="21" {% if data.wppinnum == 21 %} selected {% endif %}>PIN_21 (PB5)</option>
          <option value="22" {% if data.wppinnum == 22 %} selected {% endif %}>PIN_22 (PB6)</option>
          <option value="23" {% if data.wppinnum == 23 %} selected {% endif %}>PIN_23 (PB7)</option>
          <option value="24" {% if data.wppinnum == 24 %} selected {% endif %}>PIN_24 (PB8)</option>
          <option value="25" {% if data.wppinnum == 25 %} selected {% endif %}>PIN_25 (PB9)</option>
          <option value="26" {% if data.wppinnum == 26 %} selected {% endif %}>PIN_26 (PB10)</option>
          <option value="27" {% if data.wppinnum == 27 %} selected {% endif %}>PIN_27 (PB11)</option>
        {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
          <option value="28" {% if data.wppinnum == 28 %} selected {% endif %}>PIN_28 (PB12)</option>
          <option value="29" {% if data.wppinnum == 29 %} selected {% endif %}>PIN_29 (PB13)</option>
          <option value="30" {% if data.wppinnum == 30 %} selected {% endif %}>PIN_30 (PB14)</option>
          <option value="31" {% if data.wppinnum == 31 %} selected {% endif %}>PIN_31 (PB15)</option>
          <option value="32" {% if data.wppinnum == 32 %} selected {% endif %}>PIN_32 (PB16)</option>
          <option value="33" {% if data.wppinnum == 33 %} selected {% endif %}>PIN_33 (PB17)</option>
          <option value="34" {% if data.wppinnum == 34 %} selected {% endif %}>PIN_34 (PB18)</option>
        {% endif %}
          <option value="35" {% if data.wppinnum == 35 %} selected {% endif %}>PIN_35 (PB19)</option>
          <option value="36" {% if data.wppinnum == 36 %} selected {% endif %}>PIN_36 (PB20)</option>
        {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
          <option value="37" {% if data.wppinnum == 37 %} selected {% endif %}>PIN_37 (PB21)</option>
          <option value="38" {% if data.wppinnum == 38 %} selected {% endif %}>PIN_38 (PB22)</option>
          <option value="40" {% if data.wppinnum == 40 %} selected {% endif %}>PIN_40 (PB24)</option>
          <option value="41" {% if data.wppinnum == 41 %} selected {% endif %}>PIN_41 (PB25)</option>
          <option value="42" {% if data.wppinnum == 42 %} selected {% endif %}>PIN_42 (PB26)</option>
        {% endif %}
        {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
          <option value="43" {% if data.wppinnum == 43 %} selected {% endif %}>PIN_43 (PB27)</option>
        {% endif %}
        {% if data.chip_type == "W802" %}
          <option value="45" {% if data.wppinnum == 45 %} selected {% endif %}>PIN_45 (PB29)</option>
        {% endif %}
        </select>
        <input type="checkbox" class="col-sm-1 text-right" value="1" id="enable" name="enable" {% if data.enable %} checked {% endif %}>
        </div>
      </div>

<script>
    function check_eeprom_write_protection_status() {
        const checkbox = document.getElementById('enable');

        if (checkbox) {
            checkbox.addEventListener('change', function() {
                const select = document.getElementById('wppinnum');
                if (this.checked) {
                    select.disabled = false;
                } else {
                    select.disabled = true;
                }
            });
        }
    }

    check_eeprom_write_protection_status();
</script>
