      <div class="card-header">
        <h5>Properties</h5>
        {% include 'device_name.html' %}
        <br>
        {% for i in range(0, 46) %}
          {% set pin_valid = 0 %}

          {% if i == 0 or i == 1 or i == 4 or i == 7 or i == 16 or i == 17 or i == 18 or i == 19 or i == 20 or i == 21 or i == 22 or i == 23 or i == 24 or i == 25 or i == 26 or i == 27 or i == 35 or i == 36 %}
            {% set pin_valid = 1 %}
          {% endif %}

          {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
            {% if i == 2 or i == 3 or i == 5 or i == 6 or i == 9 or i == 10 or i == 28 or i == 29 or i == 30 or i == 31 or i == 32 or i == 33 or i == 34 or i == 37 or i == 38 or i == 40 or i == 41 or i == 42 %}
              {% set pin_valid = 1 %}
            {% endif %}
          {% endif %}

          {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
              {% if i == 8 or i == 11 or i == 13 or i == 15 or i == 43 %}
                {% set pin_valid = 1 %}
              {% endif %}
          {% endif %}
          
          {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
              {% if i == 12 or i == 14 %}
                {% set pin_valid = 1 %}
              {% endif %}
          {% endif %}
          
          {% if data.chip_type == "W802" %}
              {% if i == 45 %}
                {% set pin_valid = 1 %}
              {% endif %}
          {% endif %}

          {% if pin_valid %}
            <div class="row">
              <label class="col-sm-3 text-right" for="pwmpin">Pin:</label>
              <select class="col-sm-6" id="pinnum{{i}}" name="pinnum{{i}}" {% if not data.enable[i] %} disabled {% endif %}>
                {% if data.pinnum[i] > 15 %}
                    <option value="{{i}}" {% if data.pinnum[i] == 0 %} selected {% endif %}>PIN_{{i}} (PB{{i - 16}})</option>
                {% else %}
                    <option value="{{i}}" {% if data.pinnum[i] == 0 %} selected {% endif %}>PIN_{{i}} (PA{{i}})</option>
                {% endif %}
              </select>
              <input type="checkbox" class="col-sm-1 text-right" value="1" id="enable{{i}}" name="enable{{i}}" {% if data.enable[i] %} checked {% endif %}>
            </div>
            {% if not loop.last%} <br> {% endif %}
          {% endif %}
        {% endfor %}
	  </div>

<script>
    function check_gpiopin_status(index) {
        const enable = document.getElementById('enable' + index.toString());
        const pinnum = document.getElementById('pinnum' + index.toString());
        const pindir = document.getElementById('pindir' + index.toString());
        const pinpupd = document.getElementById('pinpupd' + index.toString());
        const pinint = document.getElementById('pinint' + index.toString());

        if (enable) {
            enable.addEventListener('change', function() {
                if (this.checked) {
                    pinnum.disabled = false;
                    pindir.disabled = false;
                    pinpupd.disabled = false;
                    pinint.disabled = false;
                } else {
                    pinnum.disabled = true;
                    pindir.disabled = true;
                    pinpupd.disabled = true;
                    pinint.disabled = true;
                }
            });
        }
    }

    for (let i = 0; i <= 47; i++) {
        check_gpiopin_status(i);
    }
</script>
