<div class="device">
                        <div class="device_left">
                            <div class="properties-section">
                                <h3>Properties</h3>
                                {% include 'device_name.html' %}
                                <i></i>

                              {% for i in range(0, 46) %}
                                {% set pin_valid = 0 %}

                                {% if i == 0 or i == 1 or i == 4 or i == 7 or i == 16 or i == 17 or i == 18 or i == 19 or i == 20 or i == 21 or i == 22 or i == 23 or i == 24 or i == 25 or i == 26 or i == 27 or i == 35 or i == 36 %}
                                  {% set pin_valid = 1 %}
                                {% endif %}

                                {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                  {% if i == 2 or i == 3 or i == 9 or i == 10 or i == 28 or i == 29 or i == 30 or i == 31 or i == 32 or i == 33 or i == 34 or i == 37 or i == 38 or i == 40 or i == 41 or i == 42 %}
                                    {% set pin_valid = 1 %}
                                  {% endif %}
                                {% endif %}

                                {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                                    {% if i == 5 or i == 6 or i == 8 or i == 11 or i == 13 or i == 15 or i == 43 %}
                                      {% set pin_valid = 1 %}
                                    {% endif %}
                                {% endif %}
                                
                                {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
                                    {% if i == 12 or i == 14 %}
                                      {% set pin_valid = 1 %}
                                    {% endif %}
                                {% endif %}
                                
                                {% if data.chip_type == "W802" %}
                                    {% if i == 45 %}
                                      {% set pin_valid = 1 %}
                                    {% endif %}
                                {% endif %}

                                {% if pin_valid %}
                                <div class="switch-list">
                                    <div class="property-control">
                                        <label class="toggle-label">State:</label>
                                        <label class="toggle-control">
                                            <input type="checkbox" value="1" id="enable{{i}}" name="enable{{i}}" {% if data.enable[i] %} checked {% endif %} data-change-name={% if data.pinnum[i] > 15 %}"PIN_{{i}} (PB{{i-16}}) enable:"{% else %}"PIN_{{i}}( PA{{i}}) enable:"{% endif %}>
                                            <span class="control"></span>
                                        </label>
                                    </div>
                                    <div class="property-list">
                                        <div class="property-item">
                                            <label>PIN:</label>
                                            <select id="pinnum{{i}}" name="pinnum{{i}}">
                                              {% if data.pinnum[i] > 15 %}
                                                <option value="{{i}}" {% if data.pinnum[i] == 0 %} selected {% endif %}>PIN_{{i}}(PB{{i - 16}})</option>
                                              {% else %}
                                                <option value="{{i}}" {% if data.pinnum[i] == 0 %} selected {% endif %}>PIN_{{i}}(PA{{i}})</option>
                                              {% endif %}
                                            </select>
                                        </div>
                                        <div class="property-item">
                                            <label>Dir:</label>
                                            <select id="pindir{{i}}" name="pindir{{i}}" data-change-name={% if data.pinnum[i] > 15 %}"PIN_{{i}} (PB{{i-16}}) Dir:"{% else %}"PIN_{{i}}( PA{{i}}) Dir:"{% endif %}>
                                                <option value="0" {% if data.pindir[i] == 0 %} selected {% endif %}>Input</option>
                                                <option value="1" {% if data.pindir[i] == 1 %} selected {% endif %}>Output</option>
                                            </select>
                                        </div>
                                        <div class="property-item">
                                            <label>Pupd:</label>
                                            <select id="pinpupd{{i}}" name="pinpupd{{i}}" data-change-name={% if data.pinnum[i] > 15 %}"PIN_{{i}} (PB{{i-16}}) Pupd:"{% else %}"PIN_{{i}}( PA{{i}}) Pupd:"{% endif %}>
                                                <option value="0" {% if data.pinpupd[i] == 0 %} selected {% endif %}>Floating</option>
                                                <option value="1" {% if data.pinpupd[i] == 1 %} selected {% endif %}>Pull-up</option>
                                                <option value="2" {% if data.pinpupd[i] == 2 %} selected {% endif %}>Pull-down</option>
                                            </select>
                                        </div>
                                        <div class="property-item">
                                            <label>INT:</label>
                                            <select id="pinint{{i}}" name="pinint{{i}}" data-change-name={% if data.pinnum[i] > 15 %}"PIN_{{i}} (PB{{i-16}}) INT:"{% else %}"PIN_{{i}}( PA{{i}}) INT:"{% endif %}>
                                                <option value="0" {% if data.pinint[i] == 0 %} selected {% endif %}>None</option>
                                                <option value="1" {% if data.pinint[i] == 1 %} selected {% endif %}>Falling edge</option>
                                                <option value="2" {% if data.pinint[i] == 2 %} selected {% endif %}>Rising edge</option>
                                                <option value="3" {% if data.pinint[i] == 3 %} selected {% endif %}>Double edge</option>
                                                <option value="4" {% if data.pinint[i] == 4 %} selected {% endif %}>Low level</option>
                                                <option value="5" {% if data.pinint[i] == 5 %} selected {% endif %}>High level</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <i></i>
                                {% endif %}

                              {% endfor %}

                                {% include 'init.html' %}
                            </div>
                        </div>

                        {% include 'pins.html' %}
                    </div>

                    <script>
                        document.querySelectorAll('input[type="checkbox"][id^="enable"]').forEach(checkbox => {
                            checkbox.addEventListener('change', () => {
                                setPins();
                            });
                        });

                        function setPins() {
                            const pins = [];
                            const enableCheckboxes = document.querySelectorAll('input[type="checkbox"][id^="enable"]');
                            enableCheckboxes.forEach(checkbox => {
                              const match = checkbox.id.match(/enable(\d+)/);
                              if (match) {
                                const number = match[1];
                                if (checkbox.checked) {
                                  pins.push(number);
                                }
                              }
                            });

                            setCurrPins(pins);
                        }

                        setPins();
                    </script>