<div class="properties-section" style="margin-bottom: 50px;">
                                <h3>Init</h3>
                                <div class="property-item">
                                    <label>Init level:</label>
                                    <select id="initlevel" name="initlevel" onchange="togglePriorityInput()">
                                        <option value="0" {% if data.initlevel == 0 %} selected {% endif %}>app</option>
                                        <option value="1" {% if data.initlevel == 1 %} selected {% endif %}>system</option>
                                    </select>
                                </div>
                                <div class="property-item">
                                    <label>Init priority：</label>
                                    <input type="number" value="{{data.initpriority}}" min="0" max="100" id="initpriority" name="initpriority" {% if not data.initlevel %} disabled {% endif %} style="background-color: rgb(217, 217, 217);">
                                </div>
                            </div>