        <header class="header">
            <div class="header-max">
                <div class="logo">
                    <a href="https://www.winnermicro.com" target="_blank">
                        <img src="/static/images/logo.png" alt="WinnerMicro Logo">
                    </a>
                </div>
                <nav class="main-nav">
                    <a href="/wmdt/index" class="active">Home</a>
                    <a href="/wmdt/chip">Pinmux</a>
                </nav>
                <div class="header-actions">
                    <button class="icon-button">
                        <a href="https://doc.winnermicro.net/w800/zh_CN/latest/component_guides/device_table.html" target="_blank">
                            <img src="/static/images/question-circle.png" alt="WinnerMicro Device Table Document">
                        </a>
                    </button>
                </div>
            </div>
        </header>