<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/wmdt/index">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/wmdt/chip">Pinmux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://doc.winnermicro.net/w800/zh_CN/latest/component_guides/device_table.html" target="_blank">Help</a>
      </li>
    </ul>
  </div>
</nav>