<div class="device_right">
                            <div class="device-max">
                                <div class="device-top">
                                    <div class="device-placeholder"></div>
                                    <div class="device-select">
                                        <ul>
                                            <li id="47">
                                            </li>
                                            <li id="46">
                                            </li>
                                            <li id="45">
                                              {% if data.chip_type == "W802" %}
                                                <p>PIN_45(PB29)</p>
                                              {% endif %}
                                            </li>
                                            <li id="44">
                                            </li>
                                            <li id="43">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                                                <p>PIN_43(PB27)</p>
                                              {% endif %}
                                            </li>
                                            <li id="42">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_42(PB26)</p>
                                              {% endif %}
                                            </li>
                                            <li id="41">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_41(PB25)</p>
                                              {% endif %}
                                            </li>
                                            <li id="40">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_40(PB24)</p>
                                              {% endif %}
                                            </li>
                                            <li id="39">
                                            </li>
                                            <li id="38">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_38(PB22)</p>
                                              {% endif %}
                                            </li>
                                            <li id="37">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_37(PB21)</p>
                                              {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="device-placeholder"></div>
                                </div>

                                <div class="device-top">
                                    <div class="device-placeholder">
                                        <ul>
                                            <li id="0">
                                                <p>PIN_0(PA0)</p>
                                            </li>
                                            <li id="1">
                                                <p>PIN_1(PA1)</p>
                                            </li>
                                            <li id="2">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_2(PA2)</p>
                                              {% endif %}
                                            </li>
                                            <li id="3">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_3(PA3)</p>
                                              {% endif %}
                                            </li>
                                            <li id="4">
                                                <p>PIN_4(PA4)</p>
                                            </li>
                                            <li id="5">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                                                <p>PIN_5(PA5)</p>
                                              {% endif %}
                                            </li>
                                            <li id="6">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                                                <p>PIN_6(PA6)</p>
                                              {% endif %}
                                            </li>
                                            <li id="7">
                                                <p>PIN_7(PA7)</p>
                                            </li>
                                            <li id="8">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                                                <p>PIN_8(PA8)</p>
                                              {% endif %}
                                            </li>
                                            <li id="9">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_9(PA9)</p>
                                              {% endif %}
                                            </li>
                                            <li id="10">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_10(PA10)</p>
                                              {% endif %}
                                            </li>
                                            <li id="11">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                                                <p>PIN_11(PA11)</p>
                                              {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="device-chip">
                                        {{ data.chip_type }}
                                    </div>
                                    <div class="device-placeholder device-placeholder-right">
                                        <ul>
                                            <li id="36">
                                                <p>PIN_36(PB20)</p>
                                            </li>
                                            <li id="35">
                                                <p>PIN_35(PB19)</p>
                                            </li>
                                            <li id="34">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_34(PB18)</p>
                                              {% endif %}
                                            </li>
                                            <li id="33">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_33(PB17)</p>
                                              {% endif %}
                                            </li>
                                            <li id="32">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_32(PB16)</p>
                                              {% endif %}
                                            </li>
                                            <li id="31">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_31(PB15)</p>
                                              {% endif %}
                                            </li>
                                            <li id="30">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_30(PB14)</p>
                                              {% endif %}
                                            </li>
                                            <li id="29">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_29(PB13)</p>
                                              {% endif %}
                                            </li>
                                            <li id="28">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                                <p>PIN_28(PB12)</p>
                                              {% endif %}
                                            </li>
                                            <li id="27">
                                                <p>PIN_27(PB11)</p>
                                            </li>
                                            <li id="26">
                                                <p>PIN_26(PB10)</p>
                                            </li>
                                            <li id="25">
                                                <p>PIN_25(PB9)</p>
                                            </li>
                                            <li id="24">
                                                <p>PIN_24(PB8)</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="device-top device-bottom">
                                    <div class="device-placeholder"></div>
                                    <div class="device-select">
                                        <ul>
                                            <li id="12">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
                                                <p>PIN_12(PA12)</p>
                                              {% endif %}
                                            </li>
                                            <li id="13">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                                                <p>PIN_13(PA13)</p>
                                              {% endif %}
                                            </li>
                                            <li id="14">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
                                                <p>PIN_14(PA14)</p>
                                              {% endif %}
                                            </li>
                                            <li id="15">
                                              {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                                                <p>PIN_15(PA15)</p>
                                              {% endif %}
                                            </li>
                                            <li id="16">
                                                <p>PIN_16(PB0)</p>
                                            </li>
                                            <li id="17">
                                                <p>PIN_17(PB1)</p>
                                            </li>
                                            <li id="18">
                                                <p>PIN_18(PB2)</p>
                                            </li>
                                            <li id="19">
                                                <p>PIN_19(PB3)</p>
                                            </li>
                                            <li id="20">
                                                <p>PIN_20(PB4)</p>
                                            </li>
                                            <li id="21">
                                                <p>PIN_21(PB5)</p>
                                            </li>
                                            <li id="22">
                                                <p>PIN_22(PB6)</p>
                                            </li>
                                            <li id="23">
                                                <p>PIN_23(PB7)</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="device-placeholder"></div>
                                </div>
                            </div>
                        </div>

                        <script>
                             function setCurrPins(pins) {
                              const liElements = document.querySelectorAll(".device_right li");
                              const validPins = new Set(pins);
                              liElements.forEach(li => {
                                const id = li.id;
                                if (validPins.has(id)) {
                                  li.style.backgroundColor = "rgb(168, 210, 255)";
                                } else {
                                  li.style.backgroundColor = "";
                                }
                                const hasP = li.querySelector('p') !== null;
                                if (!hasP) {
                                    li.style.backgroundColor = "rgb(191, 191, 191)";
                                }
                              });
                            }
                            setCurrPins([])
                        </script>