<div class="device">
                        <div class="device_left">
                            <div class="properties-section properties-section-common">
                                <h3>Properties</h3>
                                {% include 'device_name.html' %}
                                <div class="property-item">
                                    <label>Clock source:</label>
                                    <select id="clk_src" name="clk_src">
                                        <option value="0" {% if data.clk_src == 0 %} selected {% endif %}>32K &nbsp;(Internal 32K)</option>
                                        <option value="1" {% if data.clk_src == 1 %} selected {% endif %}>40M (External 40M)</option>
                                    </select>
                                </div>
                            </div>
                            {% include 'init.html' %}
                        </div>
                        {% include 'pins.html' %}
                    </div>