      <div class="card-header">
        <h5>Pins</h5>
        <div class="row">
        <label class="col-sm-3 text-right" for="sdioslavepin">CLK:</label>
        <select class="col-sm-6" id="clkpinnum" name="clkpinnum">
          <option value="22" {% if data.clkpinnum == 22 %} selected {% endif %}>PIN_22 (PB6)</option>
        </select>
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="sdioslavepin">CMD:</label>
        <select class="col-sm-6" id="cmdpinnum" name="cmdpinnum">
          <option value="23" {% if data.cmdpinnum == 23 %} selected {% endif %}>PIN_23 (PB7)</option>
        </select>
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="sdioslavepin">DAT0:</label>
        <select class="col-sm-6" id="dat0pinnum" name="dat0pinnum">
          <option value="24" {% if data.dat0pinnum == 24 %} selected {% endif %}>PIN_24 (PB8)</option>
        </select>
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="sdioslavepin">DAT1:</label>
        <select class="col-sm-6" id="dat1pinnum" name="dat1pinnum">
          <option value="25" {% if data.dat1pinnum == 25 %} selected {% endif %}>PIN_25 (PB9)</option>
        </select>
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="sdioslavepin">DAT2:</label>
        <select class="col-sm-6" id="dat2pinnum" name="dat2pinnum">
          <option value="26" {% if data.dat2pinnum == 26 %} selected {% endif %}>PIN_26 (PB10)</option>
        </select>
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="sdioslavepin">CD/DAT3:</label>
        <select class="col-sm-6" id="dat3pinnum" name="dat3pinnum">
          <option value="27" {% if data.dat3pinnum == 27 %} selected {% endif %}>PIN_27 (PB11)</option>
        </select>
        </div>
	  </div>
