<div class="device">
                        <div class="device_left">
                            <div class="properties-section properties-section-common">
                                <h3>Properties</h3>
                                {% include 'device_name.html' %}
                                <div class="property-item">
                                    <label>clock:</label>
                                    <select id="clock" name="clock">
                                    {% for clkdiv in data.clkdiv %}
                                      {% if data.cpu_freq % clkdiv == 0 %}
                                        {% set sdclk = (data.cpu_freq / clkdiv) | int %}
                                        <option value="{{ sdclk }}" {% if data.clock == sdclk %} selected {% endif %}>{{ "{:,}".format(sdclk) }}</option>
                                      {% endif %}
                                    {% endfor %}
                                    </select> &nbsp;HZ
                                </div>
                                <div class="property-item">
                                    <label>bus width：</label>
                                    <select id="bus_width" name="bus_width">
                                        <option value="0" {% if data.bus_width == 0 %} selected {% endif %}>1 bit</option>
                                        <option value="1" {% if data.bus_width == 1 %} selected {% endif %}>4 bit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="pins-section">
                                <h3>Pins</h3>
                                <div class="property-item">
                                    <label>CLK:</label>
                                    <select id="clkpinnum" name="clkpinnum">
                                      {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                        <option value="9" {% if data.clkpinnum == 9 %} selected {% endif %}>PIN_9 (PA9)</option>
                                      {% endif %}
                                        <option value="22" {% if data.clkpinnum == 22 %} selected {% endif %}>PIN_22 (PB6)</option>
                                    </select>
                                </div>
                                <div class="property-item">
                                    <label>CMD:</label>
                                    <select id="cmdpinnum" name="cmdpinnum">
                                      {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                        <option value="10" {% if data.cmdpinnum == 10 %} selected {% endif %}>PIN_10 (PA10)</option>
                                      {% endif %}
                                        <option value="23" {% if data.cmdpinnum == 23 %} selected {% endif %}>PIN_23 (PB7)</option>
                                    </select>
                                </div>
                                <div class="property-item">
                                    <label>DAT0:</label>
                                    <select id="dat0pinnum" name="dat0pinnum">
                                      {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                                        <option value="11" {% if data.dat0pinnum == 11 %} selected {% endif %}>PIN_11 (PA11)</option>
                                      {% endif %}
                                        <option value="24" {% if data.dat0pinnum == 24 %} selected {% endif %}>PIN_24 (PB8)</option>
                                    </select>
                                </div>
                                <div class="property-item">
                                    <label>DAT1:</label>
                                    <select id="dat1pinnum" name="dat1pinnum">
                                      {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
                                        <option value="12" {% if data.dat1pinnum == 12 %} selected {% endif %}>PIN_12 (PA12)</option>
                                      {% endif %}
                                        <option value="25" {% if data.dat1pinnum == 25 %} selected {% endif %}>PIN_25 (PB9)</option>
                                    </select>
                                </div>
                                <div class="property-item">
                                    <label>DAT2:</label>
                                    <select id="dat2pinnum" name="dat2pinnum">
                                      {% if data.chip_type == "W801S" or data.chip_type == "W806" %}
                                        <option value="13" {% if data.dat2pinnum == 13 %} selected {% endif %}>PIN_13 (PA13)</option>
                                      {% endif %}
                                        <option value="26" {% if data.dat2pinnum == 26 %} selected {% endif %}>PIN_26 (PB10)</option>
                                    </select>
                                </div>
                                <div class="property-item">
                                    <label>CD/DAT3:</label>
                                    <select id="dat3pinnum" name="dat3pinnum">
                                      {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
                                        <option value="14" {% if data.dat3pinnum == 14 %} selected {% endif %}>PIN_14 (PA14)</option>
                                      {% endif %}
                                        <option value="27" {% if data.dat3pinnum == 27 %} selected {% endif %}>PIN_27 (PB11)</option>
                                    </select>
                                </div>
                            </div>
                            {% include 'init.html' %}
                        </div>
                        {% include 'pins.html' %}
                    </div>

                    <script>
                        function setPins() {
                            let pins = [];
                            var div = document.getElementById("clkpinnum");
                            pins.push(div.value);
                            div = document.getElementById("cmdpinnum");
                            pins.push(div.value);
                            div = document.getElementById("dat0pinnum");
                            pins.push(div.value);
                            div = document.getElementById("dat1pinnum");
                            pins.push(div.value);
                            div = document.getElementById("dat2pinnum");
                            pins.push(div.value);
                            div = document.getElementById("dat3pinnum");
                            pins.push(div.value);

                            setCurrPins(pins);
                        }
                        document.getElementById("clkpinnum").addEventListener("change", function() {
                            setPins();
                        });
                        document.getElementById("cmdpinnum").addEventListener("change", function() {
                            setPins();
                        });
                        document.getElementById("dat0pinnum").addEventListener("change", function() {
                            setPins();
                        });
                        document.getElementById("dat1pinnum").addEventListener("change", function() {
                            setPins();
                        });
                        document.getElementById("dat2pinnum").addEventListener("change", function() {
                            setPins();
                        });
                        document.getElementById("dat3pinnum").addEventListener("change", function() {
                            setPins();
                        });

                        setPins();
                    </script>