<div class="device">
                        <div class="device_left">
                            <div class="properties-section properties-section-common">
                                <h3>Properties</h3>
                                {% include 'device_name.html' %}
                            </div>
                            <div class="pins-section">
                                <h3>Pins</h3>
                                <div class="property-item">
                                    <label>CLK:</label>
                                    <select id="clkpinnum" name="clkpinnum">
                                      {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                        <option value="9" {% if data.clkpinnum == 9 %} selected {% endif %}>PIN_9 (PA9)</option>
                                      {% endif %}
                                        <option value="22" {% if data.clkpinnum == 22 %} selected {% endif %}>PIN_22 (PB6)</option>
                                    </select>
                                </div>
                                <div class="property-item">
                                    <label>MOSI:</label>
                                    <select id="cmdpinnum" name="cmdpinnum">
                                      {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W806" %}
                                        <option value="10" {% if data.cmdpinnum == 10 %} selected {% endif %}>PIN_10 (PA10)</option>
                                      {% endif %}
                                        <option value="23" {% if data.cmdpinnum == 23 %} selected {% endif %}>PIN_23 (PB7)</option>
                                    </select>
                                </div>
                            </div>
                            {% include 'init.html' %}
                        </div>
                        {% include 'pins.html' %}
                    </div>

                    <script>
                        document.getElementById("clkpinnum").addEventListener("change", function() {
                            setPins();
                        });
                        document.getElementById("cmdpinnum").addEventListener("change", function() {
                            setPins();
                        });

                        function setPins() {
                            let pins = [];
                            var div = document.getElementById("clkpinnum");
                            pins.push(div.value);
                            div = document.getElementById("cmdpinnum");
                            pins.push(div.value);

                            setCurrPins(pins);
                        }

                        setPins();
                    </script>