
var inputElement = document.getElementById('dev_name');
var element = document.getElementById("dev_uart0");
if (element) {
    {% if data.dev_name == 'Uart0' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Uart0';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_uart1");
if (element) {
    {% if data.dev_name == 'Uart1' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Uart1';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_uart2");
if (element) {
    {% if data.dev_name == 'Uart2' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Uart2';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_uart3");
if (element) {
    {% if data.dev_name == 'Uart3' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Uart3';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_uart4");
if (element) {
    {% if data.dev_name == 'Uart4' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Uart4';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_uart5");
if (element) {
    {% if data.dev_name == 'Uart5' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Uart5';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_timer0");
if (element) {
    {% if data.dev_name == 'Timer0' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Timer0';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_timer1");
if (element) {
    {% if data.dev_name == 'Timer1' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Timer1';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_timer2");
if (element) {
    {% if data.dev_name == 'Timer2' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Timer2';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_timer3");
if (element) {
    {% if data.dev_name == 'Timer3' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Timer3';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_timer4");
if (element) {
    {% if data.dev_name == 'Timer4' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Timer4';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_timer5");
if (element) {
    {% if data.dev_name == 'Timer5' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Timer5';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_internal_flash");
if (element) {
    {% if data.dev_name == 'Internal_flash' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Internal_flash';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_external_flash_w25q");
if (element) {
    {% if data.dev_name == 'External_flash_w25q' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'External_flash_w25q';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_external_flash_gd25q");
if (element) {
    {% if data.dev_name == 'External_flash_gd25q' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'External_flash_gd25q';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_external_flash_xt25f");
if (element) {
    {% if data.dev_name == 'External_flash_xt25f' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'External_flash_xt25f';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_external_flash_th25q");
if (element) {
    {% if data.dev_name == 'External_flash_th25q' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'External_flash_th25q';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_crypto");
if (element) {
    {% if data.dev_name == 'CRYPTO' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'CRYPTO';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_crc");
if (element) {
    {% if data.dev_name == 'CRC' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'CRC';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_hash");
if (element) {
    {% if data.dev_name == 'HASH' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'HASH';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_rng");
if (element) {
    {% if data.dev_name == 'RNG' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'RNG';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_rsa");
if (element) {
    {% if data.dev_name == 'RSA' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'RSA';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_sdmmc");
if (element) {
    {% if data.dev_name == 'SDMMC' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'SDMMC';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_sdspi");
if (element) {
    {% if data.dev_name == 'SDSPI' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'SDSPI';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_nv3041a");
if (element) {
    {% if data.dev_name == 'NV3041A' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'NV3041A';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_st7735");
if (element) {
    {% if data.dev_name == 'ST7735' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'ST7735';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_gz035");
if (element) {
    {% if data.dev_name == 'GZ035' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'GZ035';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_sdio_slave");
if (element) {
    {% if data.dev_name == 'SDIO_Slave' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'SDIO_Slave';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_i2c");
if (element) {
    {% if data.dev_name == 'I2C' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'I2C';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_eeprom0");
if (element) {
    {% if data.dev_name == 'eeprom0' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'eeprom0';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_eeprom1");
if (element) {
    {% if data.dev_name == 'eeprom1' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'eeprom1';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_spi_master");
if (element) {
    {% if data.dev_name == 'SPI_Master' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'SPI_Master';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_touch_sensor");
if (element) {
    {% if data.dev_name == 'Touch_Sensor' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Touch_Sensor';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_touch_button");
if (element) {
    {% if data.dev_name == 'Touch_Button' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'Touch_Button';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_seg_lcd");
if (element) {
    {% if data.dev_name == 'SEG_LCD' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'SEG_LCD';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_pwm");
if (element) {
    {% if data.dev_name == 'PWM' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'PWM';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_rtc");
if (element) {
    {% if data.dev_name == 'RTC' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'RTC';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_pmu");
if (element) {
    {% if data.dev_name == 'PMU' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'PMU';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_i2s");
if (element) {
    {% if data.dev_name == 'I2S' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'I2S';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_adc");
if (element) {
    {% if data.dev_name == 'ADC' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'ADC';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_gpio");
if (element) {
    {% if data.dev_name == 'GPIO' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'GPIO';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_wdt");
if (element) {
    {% if data.dev_name == 'WDT' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'WDT';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}

element = document.getElementById("dev_psram");
if (element) {
    {% if data.dev_name == 'PSRAM' %}
        element.classList.add("active");
        if (inputElement) {
            inputElement.value = 'PSRAM';
        }
    {% else %}
        element.classList.remove("active");
    {% endif %}
}
