      {% include 'common.html' %}

      <div class="card-header">
        <h5>Pins</h5>
        <div class="row">
        <label class="col-sm-3 text-right" for="cmodpin">cmod:</label>
        <select class="col-sm-6" id="s" name="cmodpinnum">
        {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
          <option value="12" {% if data.cmodpinnum == 12 %} selected {% endif %}>PIN_12 (PA12)</option>
        {% endif %}
        </select>
        </div>
        <br>
        <div class="row">
        <label class="col-sm-3 text-right" for="cdcpin">cdc:</label>
        <select class="col-sm-6" id="cdcpinnum" name="cdcpinnum">
        {% if data.chip_type == "W801S" or data.chip_type == "W802" or data.chip_type == "W803" or data.chip_type == "W806" %}
          <option value="14" {% if data.cdcpinnum == 14 %} selected {% endif %}>PIN_14 (PA14)</option>
        {% endif %}
        </select>
        </div>
	  </div>