<div class="device">
                        <div class="device_left">
                            <div class="properties-section properties-section-common">
                                <h3>Properties</h3>
                                {% include 'device_name.html' %}
                                <div class="property-item">
                                    <label>counter value:</label>
                                    <input type="number" value="{{data.counter_value}}" min="1" max="107000000" id="counter_value" name="counter_value"> &nbsp;microseconds
                                </div>
                            </div>
                            {% include 'init.html' %}
                        </div>
                        {% include 'pins.html' %}
                    </div>