
#
# CoAP
#
CONFIG_COMPONENT_COAP_ENABLED=y
CONFIG_COAP_TCP_SUPPORT=n
CONFIG_COAP_OSCORE_SUPPORT=y
CONFIG_COAP_OBSERVE_PERSIST=y
CONFIG_COAP_WEBSOCKETS=y
CONFIG_COAP_CLIENT_SUPPORT=y
#CONFIG_COAP_SERVER_SUPPORT=y
CONFIG_MBEDTLS_ENABLE_HARD_DRV=y
# end of CoAP

#
# Net manager
#
CONFIG_COMPONENT_NET_MANAGER_ENABLED=y
CONFIG_COMPONENT_NM_WIFI_STA_ENABLED=y
CONFIG_COMPONENT_NM_WIFI_SOFTAP_ENABLED=n
# end of Net manager
