
#
# HTTP_CLIENT
#
CONFIG_COMPONENT_HTTP_CLIENT_ENABLED=y
CONFIG_WM_HTTP_CLIENT_SECURE=y
# end of HTTP_CLIENT

#
# OTA
#
CONFIG_COMPONENT_OTA_ENABLED=y
CONFIG_COMPONENT_OTA_HTTP_ENABLED=y
CONFIG_OTA_BLOCK_SIZE=4096
CONFIG_OTA_RETRY_TIMEOUT=120000
CONFIG_OTA_SOCKET_RECONNECT_TIMES=5
# end of OTA

#
# Partition_Table
#
CONFIG_WM_PARTITION_TABLE_WITH_OTA=y
# end of Partition_Table

#
# Net manager
#
CONFIG_COMPONENT_NET_MANAGER_ENABLED=y
CONFIG_COMPONENT_NM_WIFI_STA_ENABLED=y
CONFIG_COMPONENT_NM_WIFI_SOFTAP_ENABLED=n
# end of Net manager
