#
# SOC
#
CONFIG_BUILD_TYPE_W802=y

#
# PERIPHERAL
#
CONFIG_COMPONENT_DRIVER_TOUCH_PANEL_ENABLED=y
CONFIG_COMPONENT_DRIVER_I2C_ENABLED=y
CONFIG_COMPONENT_DRIVER_TIMER_ENABLED=y
CONFIG_COMPONENT_DRIVER_TFT_LCD_ENABLED=y
CONFIG_COMPONENT_DRIVER_SDSPI_ENABLED=y
# end of PERIPHERAL

#
# LOG
#
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
# end of LOG

#
# CLI
# Debug purpose, can disable them in user project
#
CONFIG_COMPONENT_CLI_ENABLED=y
CONFIG_CLI_COMMANDS_SYSTEM=y
# end of CLI

# NVS
CONFIG_COMPONENT_DRIVER_CRC_ENABLED=y
CONFIG_COMPONENT_DRIVER_RNG_ENABLED=y
CONFIG_COMPONENT_NVS_ENABLED=y

#
# LVGL
#
CONFIG_COMPONENT_LVGL_ENABLED=y
CONFIG_LV_USE_DEMO_MUSIC=y
CONFIG_LV_DEMO_MUSIC_AUTO_PLAY=y

CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_18=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_26=y
CONFIG_LV_FONT_MONTSERRAT_32=y
CONFIG_LV_FONT_MONTSERRAT_38=y
CONFIG_LV_FONT_MONTSERRAT_42=y
CONFIG_LV_FONT_MONTSERRAT_48=y

CONFIG_LV_USE_PERF_MONITOR=y
CONFIG_LV_USE_MEM_MONITOR=y

#
# Cust Mem for LVGL
# enable memory alloc/realloc from pSRAM
#
#CONFIG_COMPONENT_DRIVER_PSRAM_ENABLED=y
#CONFIG_LV_MEM_CUSTOM=y
#CONFIG_LV_MEM_CUSTOM_INCLUDE="wm_lv_port_mem.h"

# end of LVGL

