CONFIG_COMPONENT_AWS_ENABLED=y
CONFIG_AWS_CORE_HTTP=y
CONFIG_LWIP_TCP_MAXRTX=12
CONFIG_LWIP_TCP_SYNMAXRTX=12
CONFIG_COMPONENT_CLI_ENABLED=y
# CONFIG_CLI_COMMANDS_PARTITION_TABLE is not set
# CONFIG_CLI_COMMANDS_HTTP is not set
CONFIG_CLI_COMMANDS_NTP=y
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_COMPONENT_WIFI_ENABLED=y
