CONFIG_COMPONENT_CJSON_ENABLED=y
CONFIG_COMPONENT_AWS_ENABLED=y
CONFIG_AWS_DEVICE_SHADOW=y
CONFIG_COMPONENT_DRIVER_PWM_ENABLED=y
CONFIG_LWIP_TCP_MAXRTX=12
CONFIG_LWIP_TCP_SYNMAXRTX=12
CONFIG_LWIP_ENABLE_IPV6=y
CONFIG_COMPONENT_POSIX_ENABLED=y
CONFIG_COMPONENT_CLI_ENABLED=y
# CONFIG_CLI_COMMANDS_PARTITION_TABLE is not set
CONFIG_CLI_COMMANDS_NTP=y
CONFIG_DT_USE_C_STYLE_CONF=y
CONFIG_COMPONENT_WIFI_ENABLED=y
