
#
# HTTP
#
CONFIG_COMPONENT_HTTP_CLIENT_ENABLED=y
CONFIG_WM_HTTP_CLIENT_PROXY=y
CONFIG_WM_HTTP_CLIENT_AUTH_BASIC=y
CONFIG_WM_HTTP_CLIENT_AUTH_DIGEST=y
CONFIG_WM_HTTP_CLIENT_SECURE=y
# end of LWIP

#
# Net manager
#
CONFIG_COMPONENT_NET_MANAGER_ENABLED=y
CONFIG_COMPONENT_NM_WIFI_STA_ENABLED=y
CONFIG_COMPONENT_NM_WIFI_SOFTAP_ENABLED=n
# end of Net manager


# CLI
CONFIG_COMPONENT_CLI_ENABLED=y
# end of CLI

#
# libwebsockets
#
CONFIG_COMPONENT_WEBSOCKET_ENABLED=y
