menu "HTTP2 Client"
    config WM_HTTP2_CLIENT_ENABLED
        select WM_HTTP_CLIENT_SECURE
        select COMPONENT_POSIX_ENABLED
        bool "Enable http2 client"
        default n
        help
            Enable http2 client.

    config WM_HTTP2_CLIENT_DEBUG_ENABLED
        depends on WM_HTTP2_CLIENT_ENABLED
        bool "Enable http2 debug"
        default n
        help
            Enable http2 debug.

    config WM_HTTP2_CLIENT_LLHTTP
        depends on COMPONENT_AWS_ENABLED
        bool "Enable llhttp"
        default n
        help
            For AWS.
            Internal use, any modification is not allowed.

endmenu
