#
# PERIPHERAL
#
CONFIG_COMPONENT_DRIVER_EXTERNAL_FLASH_ENABLED=y
# end of PERIPHERAL

#
# FATFS
#
CONFIG_COMPONENT_FATFS_ENABLED=y
CONFIG_FATFS_EXTERNAL_FLASH_DISK_ENABLE=y
CONFIG_FATFS_EXTERNAL_FLASH_DEVICE_NAME="flash_w25q"
CONFIG_FATFS_EXTERNAL_FLASH_START_ADDRESS=0x0
CONFIG_FATFS_EXTERNAL_FLASH_SIZE=0x100000
# end of FATFS
