.wy-nav-content {max-width: 900px;}
.wm-small-font {font-size: 13px !important;}
.wm-small-font2 {font-size: 12px !important;}
.wm-small-padding {padding: 6px !important;}
.wm-small-padding2 {padding: 5px !important;}
.wm-small-padding3 {padding: 4px !important;}
.wm-mid-padding {padding: 10px !important;}
.wm-mid-padding2 {padding: 8px !important;}